.gameboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    width: 100vw;
    height: 100vh;
    gap: 1rem;
    background-image: url('./LevelOnebackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.boxCards {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(5, 1fr);
    gap: 1rem; 
}


.ButtonStart {
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 0.8rem;
    border-radius: 8px;
    border: none;
    background-color: #de6730;
    color: white;
    cursor: pointer;

    transition: all 200ms;
}

.ButtonStart:hover {
    padding: 1.3rem;
    font-size: 2.2rem;
}

.ButtonStart:active {
    background-color: black;
    color: #A27B5C;
    
}

@media (max-width: 650px) {
    .boxCards {
        grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    }
}

@media (max-width: 320px) {
    .boxCards {
        gap: 0.5rem;
    }
}

@media (max-width: 220px) {
    .boxCards {
        gap: 0.8rem;
    }
}
